parameters:
    stubFiles:
        - stubs/Core.stub

services:
    -
        class: KphpPHPStan\Types\NotNullFunctionDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension
    -
        class: KphpPHPStan\Types\NotFalseFunctionDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicFunctionReturnTypeExtension
